<header class="brand-header force-unfixed">
  <div class="brandbar">
    <div class="container-fixed">
      <div class="brand-logo">
        <img src="{{ "/images/deutsche-telekom-logo.svg" | relative_url }}" alt="Telekom Logo">
        <span class="sr-only">Telekom Logo</span>
      </div>
      <div class="brand-claim">
        <img src="{{ "/images/brand-claim.svg" | relative_url}}" alt="Brand Claim">
        <span class="sr-only">Brand Claim</span>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fixed">
      <div class="navbar-expanded">
        <div class="navbar-portalname">
          <a title="Go Home" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        </div>

        <div class="brandnavhead" data-spy="brandnav" data-target="#MainMenu">
          <button type="button" class="btn btn-clean navbar-btn brandnav-control-up" data-close="brandnav" data-target="#MainMenu">
            <span class="sr-only">Back</span>
            <span class="icon icon-navigation-left"></span>
          </button>

          <button type="button" class="btn btn-clean navbar-btn navbar-right" data-cancel="brandnav" data-target="#MainMenu">
            <span class="sr-only">Close Navigation</span>
            <span class="icon icon-cancel"></span>
          </button>

          <label class="navbar-header-label brandnav-label">Home</label>
        </div>
        <div class="brandnav brandnav-lvl-1" id="MainMenu">
          <ul class="nav">
            <li>
              <a href="{{ "/blueprints" | relative_url }}" data-open="brandnav">Blueprints</a>
            </li>

            <li>
              <a href="#" data-open="brandnav" class="">Hilfe</a>
              <div class="brandnav brandnav-lvl-2">
                <div class="brandnav-lvl-2-head">
                  <button type="button" class="cancel" data-close="brandnav" data-target="#MainMenu">
                    <span class="icon icon-cancel" aria-hidden="true"></span>
                  </button>
                </div>
                <ul class="nav">
                  <li class="col-l-4">
                    <a href="#" data-open="brandnav">Mobile Help</a>
                    <div class="brandnav brandnav-lvl-3">
                      <ul class="nav">
                        <li><a href="#">Services</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="col-l-4">
                    <a href="#" data-open="brandnav">Telekom Home Help</a>
                    <div class="brandnav brandnav-lvl-3">
                      <ul class="nav">
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Home Kit</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Extras</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="col-l-4">
                    <a href="#" data-open="brandnav">Support</a>
                    <div class="brandnav brandnav-lvl-3">
                      <ul class="nav">
                        <li><a href="#">Browse Help</a></li>
                        <li><a href="#">Overview</a></li>
                        <li><a href="#">Contact Us</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#" data-open="brandnav" class="">Kontakt</a>
              <div class="brandnav brandnav-lvl-2">
                <div class="brandnav-lvl-2-head">
                  <button type="button" class="cancel" data-close="brandnav" data-target="#MainMenu">
                    <span class="icon icon-cancel" aria-hidden="true"></span>
                  </button>
                </div>
                <ul class="nav">
                  <li class="col-l-4">
                    <a href="#" data-open="brandnav">Help</a>
                    <div class="brandnav brandnav-lvl-3">
                      <ul class="nav">
                        <li><a href="#">Services</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="col-l-4">
                    <a href="#" data-open="brandnav">Services</a>
                    <div class="brandnav brandnav-lvl-3">
                      <ul class="nav">
                        <li><a href="#">Tools</a></li>
                        <li><a href="#">Applications</a></li>
                        <li><a href="#">Feedback</a></li>
                        <li><a href="#">Phones and Devices</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="col-l-4">
                    <a href="#" data-open="brandnav">Support</a>
                    <div class="brandnav brandnav-lvl-3">
                      <ul class="nav">
                        <li><a href="#">Top Queries</a></li>
                        <li><a href="#">Latest</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-persistent">
        <button type="button" class="btn btn-clean navbar-btn navbar-toggle" data-open="brandnav" data-target="#MainMenu">
          <span class="sr-only">Open Navigation</span>
          <span class="icon icon-list-view"></span>
        </button>
        <ul class="nav navbar-nav navbar-nav-icons navbar-right">




        </ul>
      </div>
    </div>
  </nav>


</header>
