---
# Only the main Sass file needs front matter (the dashes are enough)
---
.navbar-portalname a {
    color: #383838;
    text-decoration: none;
}

$spacing-unit:     30px !default;

%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

.highlight {
  background: #fff;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: #eef;
  }
